<div class="jumbotron mt-4">
  <h1 class="display-4">Pinterest !</h1>
  <p class="lead">Deploy your creativity.</p>

  <%= link_to "Login", new_user_session_path, { :class => "btn btn-secondary" } %>
  <%= link_to "Join us", new_user_registration_path, { :class => "btn btn-pinterest" } %>

</div>
